*{
    margin: 0;
    padding:0;
}

header{
    display: flex;
    background-color: mistyrose;
    justify-content: space-between;
    align-items: center;
}


/* ARTICULO BUSCADOR Y ARRAY */
.logo{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.logo img{
    height: 10vw;
}

.logo h1{

    
    margin-left: 10vw;
    font-style: italic;
    font-size: 90px;
}

.logoCarrito{

    width: 25%;
    
    align-items: center;
}

.logoCarrito i{
    float: right;
    margin-right: 10%;
    cursor: pointer;
}

.logoCarrito p{
    float: right;
    margin-top: 20px;
}
/*CONTENEDOR IZQUeIRDO */

.contenedor2{
    display: flex;
    width:30%;
    flex-direction: column;
    
} 

/*PARTE IZQUIERDA */
.divBuscador{
    width: 100%;
    background-color: #000;
}

.estiloBuscador{
    width: 240px;
    height: 40px;
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 0.4vw;
    margin-left: 0.5vw;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}

.botonBuscar{
    height:53.5px;
    width: 40px;
    float: right;
    line-height: 55px;
    text-align: center;
    color: aqua;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.botonBuscar i{
    position: center;
    
}

/*MENU CON SUBMENU */
nav{
    background: #191919;
}

.divTitulo{
    height: 11vh;
    margin-left: 3%;
    
}

.divTitulo h1{
    font-size: 2vw;
    color: white;
    margin-left: 0.5vw;
    position: relative;
    top: 25%;
    
}

nav ul li{
    height: 10vh;
    list-style:none;
    border: 1px #000 solid;
}

nav ul li a{
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 5%;
    color: white;
    position: relative;
    top: 20%;

}
.itemSubmenu{
    margin-left: 5vw;
    border: none;
    background-color: #3a3939;
}

.itemSubmenu a{
    text-decoration: none;
    font-size: 1vw;
    position: relative;
    top: 30%;
}

.itemSubmenu input{
    float: right;
    position: relative;
    top: 35%;
    margin-right: 1%; 
}

.divAgregar{
    height: 53.5px;
    width: 40px;
    float: right;
    line-height: 55px;
    text-align: center;
    color: white;
    cursor: pointer;
}

/*CONTENEDOR DERECHO */

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 326px;
    margin: 15px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.container img{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.container h2 {
    font-size: 25px;
    text-align: center;
}  

.container p{
    text-align: center;
}
.container h3 {
    text-align: center;
}

.container a{
    display: inline-block;
    text-align: center;
    padding: 1.1vw;
    margin-top: 1vw;
    color: darkturquoise;
    border: 1px solid darkturquoise;
    border-radius: 0.5vw;   
}

/*CLASE PRINCIPAL */

.principal{
    display: flex;
}



/*MENU OCULTO DE AGREGAR OBJETOS*/

.formAgregarOculto{
    display: none;
}

.formEstilo{
    margin-top: 10px;
}


/* CARRITOO*/


.contenedorCarritoEstilo{
    display: none;
    width:800px;
    height: 50%;
    border: 2px solid black;
}

.tituloCarrito{
    width: 100%;
    height: 50px;
    background-color: black;
}

.tituloCarrito{
    color: white;
    text-align: center;
}



.contenedorCarrito img{
    width: 100%;

}

.nombreAutoCarrito{
    text-align: center;
}

.totalCarrito{
    width: 25%;
    height: 50px;
}

.totalCarrito h3{
    display: inline;
}

.divPromociones{
    width: 100%;
    
}

.divPromociones a{
    text-align: center;
}
.info{
    width: 100px;
    height: 20px;
    float: right;
}
